body {
  margin: 0;
  background: rgb(164, 114, 19);
  background: linear-gradient(
    0deg,
    rgba(164, 114, 19, 1) 0%,
    rgba(255, 197, 47, 0.7679446778711485) 21%,
    rgba(191, 175, 76, 1) 100%
  );
}
.formulario {
  min-height: 100vh;
}

label {
  margin-top: 20px;
}
small {
  font-size: 12px;
}
